* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.dropdown {
    position:relative;
    
}

.dropdown:hover .dropdown-items {
    display:block;
}

.dropdown-items {
    position: absolute;
    right:0%;
    background:#fff;
    width:250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: .15rem;
    color:#333;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: normal;
    display: none;
}

.dropdown-items-li {
    padding: .5rem 1rem ;
    text-align: left;
}

.dropdown-items-li:hover {
    background:#ddd;
}

.divider {
    border:none;
    border-bottom: 1px solid #ddd;
}